.emptyMatrix {
  margin-top: 30px;
  color: black;
  font-size: 30px;
  text-align: center;
}

.matrix {
  .matrix__table {
    display: flex;
    flex-direction: column;
    gap: 10px;
    .matrix__columnNumbers {
      display: flex;
      flex-direction: row;
      justify-content: center;
      color: black;
      font-size: 20px;
      font-weight: bold;
      gap: 10px;
    }
    .matrix__numbers {
      width: 90px;
      height: 45px;
      border-radius: 20px;
      font-size: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
      &:first-child {
        width: 20px;
      }
      &:last-child {
        margin-right: 60px;
      }
    }
  }
}
